#container::before{
  color: rgb(255, 0, 0);
  font-size: 20px;
  content: "Before Element";
}
#container::after{
  color: rgb(255, 0, 0);
  font-size: 20px;
  content: "After Element";
}
#container{
  margin: 20px;;
}